.PostTextField {
  padding-left: 16px;
}

.TextField {
  font-size: 12px;
  color: #f4f4f4;
  width: 100%;
  background: none;
  resize: none;
  border: none;
  height: 48px;
  transition: height 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.TextField::placeholder {
  font-size: 16px;
  color: #f4f4f4;
  opacity: 0.6;
}
.TextField:focus::placeholder {
  opacity: 0;
}

.Active {
  font-size: 14px;
  height: 150px;
  border: none;
  outline: none;
}
