.Link {
  text-decoration: none;
  color: #f4f4f4;
  display: flex;
  align-items: center;
}
.Link:hover {
  opacity: 0.6;
}

.PostInfo {
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.PostInfo .Nick {
  white-space: nowrap;
}
.PostInfo .Date {
  opacity: 0.6;
  font-size: 10px;
  white-space: nowrap;
}

.Post {
  font-size: 12px;
  text-align: left;
}

.Actions {
  display: flex;
}

.ActionRemove,
.ActionEdit {
  height: 100%;
  cursor: pointer;
  align-items: center;
  align-content: center;
}
.ActionRemove:hover {
  color: #cb2f40;
}
.ActionEdit:hover {
  color: #2f8ecb;
}
