.Valid {
  width: 90%;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  border-radius: 16px;
  font-weight: 500;
  background: none;
  margin: 1rem auto;
  padding: 4px 8px;
  text-align: center;
  /* background-color: #e74c3c; */
}
