.ChangePassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ChangePassword h1 {
    margin-bottom: 8px;
}

.ChangePassword form {
  width: 80%;
  padding-top: 24px;
}
