.Button {
  min-width: 60px;
  padding: 0.5em 1em;
  border-radius: 3px;
  outline: 0;
  font-size: 12px;
  color: #f4f4f4;
  background-color: transparent;
  border: 1px solid #f4f4f4;
}

.Button .big {
  font-size: 1em;
}
.Button:last-child {
  margin-right: 0;
}
.Button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.Button:hover:not(:disabled) {
  color: #1c7b42;
  text-decoration: none;
  background-color: #fefefe;
  border: 1px solid #fefefe;
  cursor: pointer;
}

.Button:active:not(:disabled) {
  color: #1c7b42;
  background-color: #cdcdcd;
  border: 1px solid #cdcdcd;
  -webkit-transition: none;
  transition: none;
}
.Button .auto {
  min-width: 0;
}

.Button svg {
  margin-right: 4px;
  vertical-align: middle;
}

.Button ~ .Button {
  margin-left: 8px;
}


/* LOGOUT */
.Logout {
  width: 100%;
  color: #f4f4f4;
  background-color: transparent;
  border: 1px solid #f4f4f4;
  font-size: 16px;
}

.Logout:hover:not(:disabled) {
  color: #208b4a;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
}

.Logout:active:not(:disabled) {
    color: #208b4a;
    background-color: #dbdbdb;
    border: 1px solid #f4f4f4;
    -webkit-transition: none;
    transition: none;
  }


/* PRIMARY */
.Primary {
  color: #f4f4f4;
  background-color: #2f8ecb;
  border: 1px solid #2f8ecb;
}
.Primary:hover:not(:disabled) {
  color: #f4f4f4;
  background-color: #3b97d2;
  border: 1px solid #3b97d2;
}
.Primary:active:not(:disabled) {
  color: #f4f4f4;
  background-color: #20618b;
  border: 1px solid #20618b;
  -webkit-transition: none;
  transition: none;
}

/* WARNING */
.Warming {
  color: #f4f4f4;
  background-color: #cb2f40;
  border: 1px solid #cb2f40;
}
.Warming:hover:not(:disabled) {
  color: #f4f4f4;
  background-color: #d23c4c;
  border: 1px solid #d23c4c;
}
.Warming:active:not(:disabled) {
  color: #f4f4f4;
  background-color: #bb2b3b;
  border: 1px solid #bb2b3b;
  -webkit-transition: none;
  transition: none;
}
