.NavigationItem {
  text-align: center;
  margin: 10px 0;
  box-sizing: border-box;
  display: center;
  width: 100%;
}

.NavigationItem a {
  color: #f4f4f4;
  text-decoration: none;
  font-weight: 500;
  width: 90%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  border-bottom: 2px solid #f4f4f4;
  color: #f4f4f4;
}
