.Loader {
  margin: 55px;
  position: relative;
  width: 6em;
  height: 6em;
}

.First,
.Second,
.Third {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-top: 3px solid #2f8ecb;
  border: 3px solid transparent;
  transform-origin: left top;
  border-top: 3px solid #2f8ecb;
  border-bottom: 3px solid #2f8ecb;
  border-left: 3px solid #2f8ecb;
}

.First {
  height: 3em;
  width: 3em;
  animation: rotate1 1.5s linear infinite;
}

.Second {
  height: 5em;
  width: 5em;
  border-right: 3px solid #2f8ecb;
  border-left: 3px solid transparent;
  animation: rotate2 1.5s linear infinite;
}

.Third {
  height: 7em;
  width: 7em;
  animation: rotate3 1.5s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(-360deg) translate(-50%, -50%);
  }
}
