.Recover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Recover h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.Description {
  width: 80%;
  margin-top: 1rem;
}

.Recover form {
  width: 80%;
  margin-top: 2rem;
}
