.Recover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Description {
  width: 80%;
  margin-top: 1rem;
}

.Recover form {
  width: 80%;
  margin-top: 2rem;
}
