.FishingTripDescription {
  text-align: left;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
}
.FishingTripDescription:hover {
  opacity: 0.6;
  cursor: pointer;
}

.Title {
  font-size: 14px;
  display: inline-block;
  padding-bottom: 4px;
}

.Date {
  font-size: 12px;
  opacity: 0.6;
  padding-left: 8px;
  display: inline-block;
}

.Actions {
  display: flex;
  align-items: center;
}
.Share {
  margin: 0 4px;
}
.Share:hover {
  cursor: pointer;
  opacity: 0.6;
}
