.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Signup h1 {
  margin: 0 0 16px 0;
}

.Signup form {
  width: 80%;
  padding-top: 16px;
}

.Icon {
  width: 60%;
}

.Signup img {
  width: 100%;
}

.Content {
  width: 70%;
  margin-bottom: 16px;
}
