body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  color: #f4f4f4;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}
svg {
  margin: 0 4px;
  vertical-align: middle;
  padding-bottom: 4px;
}

input {
  font: 400 16px "Lato", sans-serif;
}

button {
  font: 400 16px "Lato", sans-serif;
}

.react-icons {
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  /* background: #f1f1f1;  */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #2f8ecb ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #20618b; 
}